<div id="authBackOffice" fxLayoutAlign="space-around center" fxFill="100">
  <mat-card fxFlex="20">
    <mat-card-title>Secrétariat</mat-card-title>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <mat-label>Identifiant</mat-label>
        <input matInput type="text" [formControl]="username" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" [formControl]="password" />
      </mat-form-field>
      <p class="message">{{message}}</p>
      <button mat-raised-button color="primary" (click)="login()">
        Se connecter
      </button>
    </mat-card-content>
    <mat-card-actions></mat-card-actions>
  </mat-card>
</div>
