<div fxLayout="row" fxLayoutAlign="space-around center" class="app" fxLayoutGap="16px">
  <!-- LEFT COLUMN -->
  <mat-card>
    <mat-card-title>Enseignant</mat-card-title>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput type="text" [formControl]="userid"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" [formControl]="password"/>
      </mat-form-field>
      <p class="message">{{message}}</p>
      <button mat-raised-button color="primary" (click)="login()">Se connecter</button>
    </mat-card-content>
    <mat-card-actions></mat-card-actions>
  </mat-card>
  <!-- /LEFT COLUMN -->
  <!-- RIGHT COLUMN -->
  <mat-card>
    <mat-card-title>Etudiant</mat-card-title>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <mat-label>N° étudiant</mat-label>
        <input matInput type="text" [formControl]="studentid"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" [formControl]="studentPassword"/>
      </mat-form-field>
      <p class="message">{{messageStudent}}</p>
      <button mat-raised-button color="primary" (click)="loginStudent()">Se connecter</button>
    </mat-card-content>
    <mat-card-actions></mat-card-actions>
  </mat-card>
  <!-- /RIGHT COLUMN -->
  <footer><button mat-raised-button color="secondary" (click)="accessBackOffice()">Administration</button></footer>
</div>
