
<div fxLayout="row" fxLayoutAlign="space-around center" class="app">
  <mat-card fxFlex="20">
    <mat-card-title>Importer des étudiants</mat-card-title>
    <mat-card-content class="dropzone" fxLayout="column">
    </mat-card-content>
    <form [formGroup]="importEtudiantsForm" (ngSubmit)="submit()">
    <mat-card-actions fxLayoutAlign="end">
      <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">Selectionner un CSV</button>
      <input hidden #fileInput type="file" id="file" (change)="onFileChange($event)">
      <button type="submit" mat-raised-button color="primary">Sauvegarder</button>
    </mat-card-actions>
  </form>
  </mat-card>
</div>
