
.background-image {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('../assets/IUT-ParisDescartes.jpg');
  background-size: cover;
  filter: brightness(0.5);
  .mat-icon{
    padding:  0 7px 7px 0;
    color: rgb(255, 255, 255);
    top: 10px;
    position:absolute;
    right: 10px;;
    font-size: xx-large;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    background-color: rgb(0, 0, 0);
    &:hover {
      cursor: pointer;
    }
  }
}
