<div fxLayout="row" fxLayoutAlign="space-around center" class="app">
  <mat-card>
    <mat-card-title>Déposer votre devoir</mat-card-title>
    <mat-card-content class="dropzone">
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="end">
      <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">Choose File</button>
      <input hidden #fileInput type="file" id="file">
    </mat-card-actions>
  </mat-card>
</div>
