<div fxLayout="row" fxLayoutAlign="space-around center" class="app">
  <mat-card>
    <mat-card-title>
      Consultation des notes
    </mat-card-title>
    <mat-card-content>
      <h3>Note domaine 1 x/20 admis</h3>
      <h3>Note domaine 1 x/20 admis</h3>
      <h3>Note domaine 1 x/20 admis</h3>
      <h3>Note domaine 1 x/20 admis</h3>
      <h3>Note domaine 1 x/20 admis</h3>
    </mat-card-content>
  </mat-card>
</div>
