<div fxLayout="row" fxLayoutAlign="space-around center" class="app" fxLayoutGap="16px">
  <mat-card>
    <mat-card-title>Que souhaitez vous faire?</mat-card-title>
    <mat-card-content fxLayout="column" fxLayoutGap="12px">
      <button mat-raised-button color="accent" (click)="deposerClick()">Déposer un devoir</button>
      <button mat-raised-button color="primary" (click)="notesClick()">Consulter mes notes</button>
      <button mat-raised-button color="primary" (click)="sallesClick()">Consulter les salles d'examens</button>
    </mat-card-content>
    <mat-card-actions></mat-card-actions>
  </mat-card>
</div>
