<div fxLayout="row" fxLayoutAlign="space-around center" class="app" fxLayoutGap="16px">
  <!-- LEFT COLUMN -->
  <mat-card>
    <mat-card-title>Télécharger un lot</mat-card-title>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <mat-label>N° Lot</mat-label>
        <input matInput type="text" />
      </mat-form-field>
      <button mat-raised-button color="primary">Télécharger</button>
    </mat-card-content>
    <mat-card-actions></mat-card-actions>
  </mat-card>
  <!-- /LEFT COLUMN -->
  <!-- RIGHT COLUMN -->
  <mat-card>
    <mat-card-title>Saisie des notes</mat-card-title>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <mat-label>N° copie</mat-label>
        <input matInput type="text" [formControl]="copieNumber"/>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="selectCopie()">séléctionner la copie</button>
      <ng-container *ngIf="!!this.copie">
        <h2>Moyenne du domaine {{this.copie.competence.domaine.nom}}: {{this.copie.note}}/20</h2>
        <h3>note {{this.copie.competence.nom}}:
          <mat-form-field floatLabel="always">
            <mat-label>note</mat-label>
            <input matInput placeholder="{{this.copie.note}}" type="text" [formControl]="note"/>
          </mat-form-field>/20
        </h3>
      </ng-container>
    </mat-card-content>
    <mat-card-actions fxLayout="column" fxFlexAlign="stretch" *ngIf="!!this.copie">
      <button mat-raised-button color="primary">Confirmer saisie notes</button>
    </mat-card-actions>
  </mat-card>
  <!-- /RIGHT COLUMN -->
</div>
